@{ 
    Layout = null;
    var username = "Md Sumon  Mia";
}

<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> test web page</title>
</head>
<body>
    <h1> this is header section of the pages</h1>

    <p>paragraph section of the webpages</p>
    <p>my name is @username</p>
    <p>current Time is @DateTime.Now.ToString("T")</p>   //implicity Razor View

    <p>8+9=@(8+9)</p>    //Explicit Razor Expression




</body>
</html>